*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  position: relative;
}

p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
}

.max-width {
  max-width: 1920px !important;
  width: 100%;
  margin: 0 auto;
  background-color: orange;
}

.left-rounded-img {
  border-radius: 100px 0px;
}

.right-rounded-img {
  border-radius: 0 100px;
}

.bottom-left-rounded-img {
  border-radius: 0px 0px 0px 200px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.section-text {
  padding-top: 40px;
  padding-left: 100px;
  padding-bottom: 40px;
}

.section-header {
  font-weight: 600;
  font-size: 50px;
  line-height: 59px;
}

.container_nav {
  padding-top: 45px;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  left: 0;
  right: 0;
}
.container_nav .logo-wrap {
  position: absolute;
  padding: 0;
  padding-right: 47px;
}
.container_nav .col-12 {
  padding-left: 15px;
}
.container_nav .col-12 .navbar-nav {
  margin: 0 auto;
}
.container_nav .navbar {
  padding: 0;
}
.container_nav .navbar .navbar-brand {
  display: none;
}
.container_nav .navbar .navbar-brand img .nav-link {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.container_nav .navbar .navbar-brand img .nav-link.home-icon {
  padding-top: 0;
}

.container_nav .navbar .nav-item {
  margin-right: 19px;
}

.page-title {
  margin-bottom: 24px;
  margin-top: 276px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 71px;
  letter-spacing: -1.7px;
  color: #000;
  max-width: 600px;
}

.section-top {
  position: relative;
  height: 100vh;
  max-height: 1080px;
}
.section-top .container {
  height: 100%;
}
.section-top .container .row {
  height: 100%;
}
.section-top .col-sm-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-top .section-top-description {
  margin-bottom: 24px;
  line-height: 39px;
}
.section-top .section-top-lng {
  display: flex;
  margin-bottom: 43px;
}
.section-top .section-top-lng .section-top-lng-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  margin-right: 14px;
}
.section-top .section-top-lng .section-top-lng-item {
  display: flex;
  margin-right: 19.7px;
  align-items: center;
}
.section-top .section-top-lng .section-top-lng-item img {
  width: 23px;
  height: 23px;
  margin-right: 5.57px;
}
.section-top .section-top-lng .section-top-lng-item .icon-text {
  font-weight: 600;
  margin-bottom: 0;
}
.section-top .home_block1-points {
  max-width: 210px;
}

.section-buttons {
  margin-bottom: 80px;
}
.section-buttons button {
  margin-right: 20px;
  padding: 22px 58px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.52px;
  border: 1px solid #024547;
  color: #024547;
  background: transparent;
}
.section-buttons button:hover {
  color: #fff;
  background-color: #024547;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
}

.top-section-bg {
  position: absolute;
  height: 100vh !important;
  max-height: 1080px;
  right: 0;
}
.top-section-bg img {
  height: 100%;
  padding: 0;
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0;
}
.breadcrumb .breadcrumb-item {
  display: flex;
  align-self: flex-end;
}
.breadcrumb .breadcrumb-item a {
  font-weight: 500;
  font-size: 12px;
  line-height: 126.9%;
  letter-spacing: 0.02em;
  color: #8c8c8c;
}
.breadcrumb .breadcrumb-item.active {
  font-weight: 700;
  font-size: 12px;
  line-height: 126.9%;
  letter-spacing: 0.02em;
  color: #1d293f;
  display: flex;
  align-self: flex-end;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  background-image: url("/icons/divide.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.section-img-left .col-sm-7 {
  padding-left: 57px !important;
}

.section-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 65px;
}

.section-parag {
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-dark-bg {
  background-color: #f3f3f3;
  border-radius: 1px 100px;
}
.container-dark-bg .col-sm-7 {
  padding: 90px 55px 0 110px;
}
.container-dark-bg .col-sm-7 .section-title {
  margin-top: 0;
  font-size: 55px;
}

.container-img-bg {
  background-image: url("../img/foto_home7.png");
  background-repeat: no-repeat;
}

.section-container {
  margin-top: 80px;
  margin-bottom: 80px;
}
.section-container .section-img {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 29px;
  padding-right: 98px;
  padding-left: 0;
}

.section-feat-carousel .section-title {
  margin-top: 0;
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 20px;
}
.section-feat-carousel .section-subtitle {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}
.section-feat-carousel .section-feat-cat {
  margin-bottom: 60px;
}
.section-feat-carousel .section-feat-cat label {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #4f565d;
  margin-right: 60px;
}
.section-feat-carousel .section-feat-cat input {
  display: none;
}
.section-feat-carousel .section-feat-cat input:checked + label {
  font-weight: 600;
  border-bottom: 3px solid black;
  padding-bottom: 9px;
  color: #000;
}

.swiper-container,
.swiper-reviews {
  padding-bottom: 100px;
}
.swiper-container .swiper-pagination-bullet,
.swiper-reviews .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: gray;
  margin-right: 20px !important;
}
.swiper-container .swiper-pagination-bullet-active,
.swiper-reviews .swiper-pagination-bullet-active {
  background-color: #024547;
  outline: 1px solid #024547;
  outline-offset: 5px;
  transition: 0.15s ease-out;
}

.swiper-container {
  position: relative;
  width: 100%;
}
.swiper-container .swiper-slide {
  transition: all 200ms linear;
  transform: scale(0.8);
}
.swiper-container .swiper-slide.swiper-slide-active {
  transform: scale(1);
}

.section-testimonials .section-title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
}
.section-testimonials .section-text {
  padding: 0;
  margin-bottom: 50px;
  text-align: center;
}
.section-testimonials .slide-bottom {
  display: flex;
  justify-content: space-between;
}
.section-testimonials .swiper-reviews .swiper-slide {
  transition: all 200ms linear;
  padding: 30px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
.section-testimonials .swiper-reviews .swiper-slide .swiper-slide__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.section-testimonials .swiper-reviews .swiper-slide .swiper-slide__rating {
  max-width: 96px;
  margin-bottom: 10px;
}
.section-testimonials .swiper-reviews .swiper-slide .slide-bottom {
  display: flex;
  justify-content: space-between;
}
.section-testimonials .swiper-reviews .swiper-slide .slide-bottom .slide-bottom__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.section-testimonials .swiper-reviews .swiper-slide .slide-bottom .swiper-bottom__icon {
  max-width: 75px;
  height: 25px;
}
.section-testimonials .swiper-reviews .swiper-slide.swiper-slide-active {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
}

.section-features .section-title {
  margin-top: 0;
  margin-bottom: 60px;
}
.section-features .section-features-item {
  background-color: #f3f3f3;
  border-radius: 60px 1px;
  display: flex;
  height: 340px;
  padding: 48px 42px 0 42px;
  flex-direction: column;
  align-items: center;
}
.section-features .section-features-item img {
  width: 70px;
  height: 70px;
}
.section-features .section-features-item .section-features-item-text {
  margin-top: 40px;
  font-weight: 600;
  font-size: 23px;
}

.call-to-action-section {
  padding: 88px 90px;
  margin-bottom: 145px;
}
.call-to-action-section .section-title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 55px;
}
.call-to-action-section .section-parag {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 33px;
}

.home_block8 {
  position: relative;
}
.home_block8 .home_block8-contact .home_fix-block {
  position: absolute;
  left: -50%;
  right: -50%;
  transform: translateY(-50%);
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 100px;
  margin: 0 auto;
  background-color: white;
  padding: 45px 56px;
}
.home_block8 .home_block8-contact .home_fix-block .row {
  display: flex;
  justify-content: center;
}
.home_block8 .home_block8-contact .home_fix-block .col-sm-3 {
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.home_block8 .home_block8-contact .home_fix-block .col-sm-3 .home_block8-p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.35px;
}
.home_block8 .home_block8-contact .home_fix-block .col-sm-3 h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.home_block8 .home_block8-contact .home_fix-block .col-sm-3 img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 17px;
}

.footer {
  position: relative;
  margin-bottom: 20px;
}
.footer .footer-img-bg {
  position: absolute;
  left: 0;
  bottom: -20px;
  max-width: 656px;
  padding-left: 0px;
}
.footer .footer_block-h {
  margin-bottom: 22px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.footer .footer-links .links-wrap {
  display: flex;
  gap: 50px;
}
.footer .footer-links .links-wrap ul {
  display: block;
}
.footer .footer_block .footer_block-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}
.footer .footer_block p,
.footer .footer_block a {
  font-family: "Roboto";
  font-weight: 400;
}
.footer .footer_block p li,
.footer .footer_block a li {
  list-style-type: none;
}
.footer .footer_block .address-shift {
  padding-left: 50px;
}
.footer .footer_block .footer-list {
  padding-left: 0;
}
.footer .footer_block .footer-list li {
  list-style-type: none;
  line-height: 26px;
  margin-bottom: 10px;
}
.footer .footer_block .footer-list li a {
  color: #024547;
  font-size: 14px;
}
.footer .footer_block .footer-list li a :hover {
  font-weight: 600;
}
.footer .footer_block .footer-list-no-header {
  margin-top: 46px;
}
.footer .footer_block-text-logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 9px;
}
.footer .footer_block-text-logo .text-yellow {
  color: #bca667;
}
.footer .footer-logo {
  padding-right: 114px !important;
}
.footer .footer-logo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.section-top.about {
  height: 610px;
}

.section-about .col {
  padding: 90px;
}
.section-about .section-title {
  margin-top: 0;
  margin-bottom: 26px;
}
.section-about .section-about-lng {
  display: flex;
  gap: 26px;
}
.section-middle h2 {
  margin-bottom: 50px;
  margin-top: 0;
}
.section-middle .col-sm-7 {
  display: flex;
  align-items: center;
  padding-left: 60px !important;
}
.section-middle .section-parag {
  margin: 0;
}

.section-middle-reverse h2 {
  margin-top: 0;
  margin-bottom: 50px;
}
.section-middle-reverse .section-parag {
  margin: 0;
}
.section-middle-reverse .col-sm-7 {
  display: flex;
  align-items: center;
  padding-right: 60px;
}

.about-swiper .swiper {
  padding-bottom: 90px;
}
.about-swiper h2 {
  margin-bottom: 60px;
}

.about-map {
  margin-top: 145px;
}

.section-adult1 .section-text {
  padding: 90px 54px 38px 90px;
}
.section-adult1 .section-text .section-title {
  margin-bottom: 30px;
}
.section-adult1 .section-parag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  padding-right: 40px;
}

.section-img-right .section-parag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
}

.section-adult .section-text {
  padding: 90px 54px 10px 90px;
}
.section-adult .section-parag {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
}

.section-text.adult-page h2 {
  margin-bottom: 30px;
}
.section-text.adult-page p {
  margin: 0;
  margin-bottom: 50px;
}
.section-text.adult-page .section-buttons {
  margin-bottom: 0;
}

.section-testimonials h2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 20px;
}
.section-testimonials .test {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.section-testimonials .reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section-testimonials .reviews .review-box {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 30px;
}

.swiper-slide .swiper-slide__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.swiper-slide .swiper-slide__rating {
  max-width: 96px;
  margin-bottom: 10px;
}
.swiper-slide .slide-bottom {
  display: flex;
  justify-content: space-between;
}
.swiper-slide .slide-bottom .slide-bottom__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.swiper-slide .slide-bottom .swiper-bottom__icon {
  max-width: 75px;
  height: 25px;
}

.container-contact {
  margin-bottom: 100px;
}
.container-contact h2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 71px;
  margin-bottom: 50px;
}

.contact-box {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.contact-box img {
  height: 51px;
  width: 51px;
}
.contact-box p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height, or 129% */
  letter-spacing: 0.452153px;
  color: #024547;
}
.contact-box h6 {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
}

.section-features .section-features-item {
  margin: 0 auto;
  margin-bottom: 20px;
}
.home_block8 .home_block8-contact .home_fix-block {
  width: auto;
}

.footer .footer_block .address-shift {
  padding-left: 0px;
}

.owl-carousel .owl-stage-outer {
  margin-left: 20px;
}

.section-about .aboutpage {
  padding-top: 50px;
}

.section-about1 .col-sm-7 .section-parag {
  margin-left: 10px;
  margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 992px) {
  .container_nav {
    padding-top: 16px;
  }
  .container_nav .row {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
  }
  .container_nav .row .logo-wrap {
    display: none;
  }
  .container_nav .row .navbar-brand {
    display: block !important;
    width: 100px;
    height: 60px;
  }
  .container_nav .row .navbar-brand img {
    height: 100%;
  }
  .container_nav .row button {
    margin-left: auto;
  }
  .container_nav .row .navbar-collapse {
    background-color: #d8d8d8;
    opacity: 0.8;
  }
  .container_nav .row .navbar-collapse .home-icon {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=style.css.map */